body {
	background-color: #F1FAEE;
	font-size: 10px;
}

.menu-button {
	position: absolute;
	margin: 2vw 0 0 4vw;
	cursor: pointer;
}

.title-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.header-block {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 10%;
	margin-top: 1%;
	border-radius: 2.6vw;
	background: #A8DADC;
	box-shadow: 0 0.21vw 0.21vw 0 rgba(0, 0, 0, 0.25);
	transition: 1s;
}

.header-block_active {
	width: 50%;
	transform: translateX(35%);
}

.header-text {
	color: #1D3557;
	font-family: 'Noto Sans Tangsa', sans-serif;
	font-size: 5vh;
	font-style: normal;
	font-weight: 600;
	line-height: 122%;
	letter-spacing: 0.25vw;
}

main {
	display: flex;
	margin-top: 8vh;
	justify-content: center;
}

.text-block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: 50vh;
	border-radius: 3vh 0;
	border-right: 0.5vw solid #E63946;
	background: #457B9D;
	color: var(--icon-color, #F1FAEE);
	font-family: 'Noto Sans Tangsa', sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.3vh;
	transition: 1s;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
}

.text-block_active {
	width: 60%;
	height: 50vh;
	transform: translateX(30%);
	border-right: none;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
}

.contact-header {
	display: flex;
	justify-content: center;
	font-size: 4vh;
}

.contact-option-wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 27% 27% 27%;
	grid-template-rows: 100%;
	justify-content: center;
	justify-items: center;
	align-items: center;
	column-gap: 5%;
}

.contact-option-cell {
	border-radius: 4vh;
	background: #A8DADC;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.contact-option {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.contact-option-header {
	color: #1D3557;
	font-family: 'Noto San Tagsa', sans-serif;
	font-weight: 400;
	font-size: 3.4vh;
	letter-spacing: 0.2vh;
	text-decoration-line: underline;
}

.contact-option-photo {
	width: 10vh;
	height: 10vh;
}


/* menu css: */


.menu-block {
	display: grid;
	grid-template-columns: 10% 33% 15% 33%;
	grid-template-rows: 20% 25% 10% 25%;
	grid-template-areas:
		". . . ."
		". option1 . option2"
		". . . ."
		". option3 . option4"
		". . . .";
	position: fixed;
	left: 0;
	top: 0;
	width: 35%;
	height: 100vh;
	border-radius: 0 5vh 5vh 0;
	border-right: 0.8vh solid #E63946;
	background: #457B9D;
	transition: 1s;
	transform: translateX(-100%);
}

.menu_active {
	transform: translateX(0%);
}

.close-button {
	position: fixed;
	margin: 2.5vw 0 0 3vw;
	cursor: pointer;
}

.menu-header-wrapper {
	width: 1000%;
	text-align: center;
}

.menu-header {
	color: var(--icon-color, #F1FAEE);
	font-family: 'Noto Sans Tangsa', sans-serif;
	font-size: 5vh;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: 0.3vh;
}

.menu-option {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 5vh;
	background: #A8DADC;
	width: 100%;
	height: 100%;
	cursor: pointer;
}


#option-main {
	color: #E63946;
}

#option1 {
	grid-area: option1;
}

#option2 {
	grid-area: option2;
}

#option3 {
	grid-area: option3;
}

#option4 {
	grid-area: option4;
}

.option-header {
	color: #1D3557;
	font-family: 'Noto San Tagsa', sans-serif;
	font-size: 3vh;
	font-style: normal;
	font-weight: 400;
	text-decoration-line: underline;
}

.option-photo {
	width: 8vh;
	height: 8vh;
}