body {
	background-color: #F1FAEE;
	font-size: 10px;
	/* width: 100%;
	height: 100%; */
}

.menu-button {
	position: absolute;
	margin: 2% 0 0 4%;
	cursor: pointer;
}

.title-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.header-block {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 10%;
	margin-top: 1%;
	border-radius: 50px;
	background: #A8DADC;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	transition: 1s;
}

.header-block_active {
	width: 50%;
	transform: translateX(35%);
}

.header-text {
	color: #1D3557;
	font-family: 'Noto Sans Tangsa', sans-serif;
	font-size: 4.5em;
	font-style: normal;
	font-weight: 600;
	line-height: 122%;
	letter-spacing: 5px;
}

main {
	display: flex;
	margin-top: 4%;
	justify-content: center;
}

.text-block {
	display: flex;
	justify-content: center;
	width: 80%;
	height: fit-content;
	flex-shrink: 0;
	border-radius: 5em 0em;
	border-right: 8px solid #E63946;
	background: #457B9D;
	transition: 1s;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
}

.text-block_active {
	width: 60%;
	transform: translateX(30%);
	border-right: none;
	height: auto;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
}

.main-text {
	align-items: center;
	width: 90%;
	height: 90%;
	flex-shrink: 0;
	color: var(--icon-color, #F1FAEE);
	font-family: 'Noto Sans Tangsa', sans-serif;
	font-size: 3em;
	font-style: normal;
	font-weight: 400;
	line-height: 61px;
	letter-spacing: 3px;
	transition: 1s;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
}

.main-text_active {
	width: fit-content;
	margin-left: 6%;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
}

.contact-header {
	display: flex;
	justify-content: center;
}

.contact-option-wrapper {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 100%;
	justify-items: center;
}

.contact-option {
	display: flex;
	justify-content: center;
	border-radius: 50px;
	background: #A8DADC;
	width: 100%;
	height: 250px;
	cursor: pointer;
}

.contact-option-header {
	color: #1D3557;
	font-family: 'Noto San Tagsa', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 6.1em; /* 203.333% */
	letter-spacing: 0.2em;
	text-decoration-line: underline;
}

.menu-block {
	display: grid;
	grid-template-columns: 10% 33% 15% 33%;
	grid-template-rows: 20% 25% 10% 25%;
	grid-template-areas:
		". . . ."
		". option1 . option2"
		". . . ."
		". option3 . option4"
		". . . .";
	position: fixed;
	left: 0;
	top: 0;
	width: 35%;
	height: 100vh;
	border-radius: 0 5em 5em 0;
	border-right: 8px solid #E63946;
	background: #457B9D;
	transition: 1s;
	transform: translateX(-100%);
}

.menu_active {
	transform: translateX(0%);
}

/* .close-button:hover {
	text-shadow: 0 0 10px #FF4500;
} */

.close-button {
	position: fixed;
	margin: 45px 0 0 66px;
	cursor: pointer;
}

.menu-header-wrapper {
	width: 1000%;
	text-align: center;
}

.menu-header {
	color: var(--icon-color, #F1FAEE);
	font-family: 'Noto Sans Tangsa', sans-serif;
	font-size: 5em;
	font-style: normal;
	font-weight: 400;
	line-height: 122%; /* 122% */
	letter-spacing: 0.3em;
}

.menu-option {
	display: flex;
	justify-content: center;
	border-radius: 5em;
	background: #A8DADC;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#option-main {
	color: #E63946;
}

#option1 {
	grid-area: option1;
}

#option2 {
	grid-area: option2;
}

#option3 {
	grid-area: option3;
}

#option4 {
	grid-area: option4;
}

.option-header {
	color: #1D3557;
	font-family: 'Noto San Tagsa', sans-serif;
	font-size: 3em;
	font-style: normal;
	font-weight: 400;
	line-height: 6.1em; /* 203.333% */
	letter-spacing: 0.2em;
	text-decoration-line: underline;
}

.option-photo {
	position: fixed;
	width: 8em;
	height: 8em;
	flex-shrink: 0;
	margin: 10.8em 8.5em 6.2em 8.5em;
}