body {
	background-color: #F1FAEE;
}

.menu-button {
	position: absolute;
	margin: 2vw 0 0 4vw;
	cursor: pointer;
}

.menu-button:hover {
	box-shadow: inset 0 0 0 0.3vh #457B9D;
	border-radius: 5.5vh;
	transition-property: box-shadow;
	transition-duration: 0.7s;
}

.title-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.header-block {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 10%;
	margin-top: 1%;
	border-radius: 2.6vw;
	background: #A8DADC;
	box-shadow: 0 0.21vw 0.21vw 0 rgba(0, 0, 0, 0.25);
	transition: 1s;
}

.header-block_active {
	width: 50%;
	transform: translateX(35%);
}

.header-text {
	color: #1D3557;
	font-family: 'Noto Sans Tangsa', sans-serif;
	font-size: 5vh;
	font-style: normal;
	font-weight: 600;
	line-height: 122%;
	letter-spacing: 0.25vw;
}

main {
	display: flex;
	margin-top: 8vh;
	justify-content: center;
}

.text-block {
	display: flex;
	justify-content: center;
	width: 80%;
	height: auto;
	border-radius: 5vh 0;
	border-right: 1vh solid #E63946;
	background: #457B9D;
	transition: 1s;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
}

.text-block_active {
	width: 60%;
	transform: translateX(30%);
	border-right: none;
	height: auto;
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
}

.main-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	color: var(--icon-color, #F1FAEE);
	font-family: 'Noto Sans Tangsa', sans-serif;
	font-size: 3vh;
	font-style: normal;
	font-weight: 400;
	line-height: 200%;
	letter-spacing: 0.5vw;
}

.collapsible {
	align-self: center;
	margin-top: 5vh;
	margin-bottom: 3vh;
	background-color: #F1FAEE;
	color: #1D3557;
	border-radius: 1.5vh;
	font-family: 'Noto Sans Tangsa', sans-serif;
	font-size: 3vh;
	font-weight: 600;
	letter-spacing: 0.5vh;

}

.active, .collapsible:hover {
	background-color: #A8DADC;
	cursor: pointer;
}

.photo-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	display: none;
	overflow: hidden
}

.hobbies-imgs {
	align-self: center;
	height: 40vh;
	border-radius: 2vh;
}

.hobbies-imgs.two-photos {
	width: 25vw;
}

.hobbies-imgs.two-photos.long-photo {
	width: 22vw;
	height: auto;
}


/* menu: */
.menu-block {
	position: fixed;
	left: 0;
	top: 0;
	width: 35%;
	height: 100vh;

	display: flex;
	flex-direction: column;

	border-radius: 0 5vh 5vh 0;
	border-right: 0.8vh solid #E63946;
	background: #457B9D;

	transition: 1s;
	transform: translateX(-100%);
}

.menu_active {
	transform: translateX(0%);
}

.close-button {
	position: fixed;
	margin: 2.5vw 0 0 3vw;
	cursor: pointer;
}

.menu-header-wrapper {
	width: 100%;
	text-align: center;
}

.menu-header {
	color: var(--icon-color, #F1FAEE);
	font-family: 'Noto Sans Tangsa', sans-serif;
	font-size: 6vh;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: 0.3vh;
}

#menu-options-wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.menu-option {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5vh;
	background: #A8DADC;
	width: 80%;
	height: 15%;
	cursor: pointer;
}

.option-header {
	color: #1D3557;
	font-family: 'Noto San Tagsa', sans-serif;
	font-size: 3.2vh;
	font-style: normal;
	font-weight: 400;
	text-decoration-line: underline;
}